<div class="apidocs">
  <div id="docs-main" class="content">
    <h2>Runtime monitoring for Node.js applications</h2>
  </div>
</div>

Introduction


Quick Start

1) Install
2) Run (standalone)
3) Monitor (within a REPL)
4) Integrate into your server
